.chatroomPage {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: -8px;
}

.chatroomSection {
  width: 40vw;
  height: 80vh;
  margin: auto;
  border: 1px solid #eee;
  position: relative;
}

.chatroomContent {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 3.5rem;
  padding: 0.5rem;
  overflow: auto;
}

.chatroomActions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 72px;
  grid-gap: 1rem;
  border-top: 1px solid #eee;
}

.chatroomActions button {
  height: 100%;
}

.message {
  margin-bottom: 0.25rem;
}

.otherMessage {
  color: #0099cc;
  font-weight: bold;
}

.ownMessage {
  color: #00cc00;
  font-weight: bold;
}
