@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: Montserrat;
  box-sizing: border-box;
  color: #333;
}

body {
  font-size: 16px;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 25vw;
  transform: translate(-50%, -50%);
}

.cardHeader {
  background: #f7c52a;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;
  transform: skewY(-4deg);
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -1rem;
  left: -0.75rem;
}

.cardBody {
  margin-top: 2rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
}

input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 1px solid #ccc;
}

button {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
}

.chatrooms {
  margin-top: 1rem;
}

.chatroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.join {
  background: #f7c52a;
  padding: 0.25rem 1rem;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: #333;
}
